* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-size: 13px;
    font-family: Open Sans, sans-serif;
}

header {
    color: #fff;
    background-color: #0096db;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    
}